{% extends 'base.html' %}
{% block content %}
<div class="container my-5">
    <h3 class="fw-bold mb-4">Registered Students</h3>
    <table class="table table-bordered table-striped">
        <thead class="table-dark">
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>College</th>
                <th>Department</th>
                <th>Registration Date</th>
            </tr>
        </thead>
        <tbody>
            {% for s in students %}
                <tr>
                    <td>{{ s.id }}</td>
                    <td>{{ s.name }}</td>
                    <td>{{ s.email }}</td>
                    <td>{{ s.college }}</td>
                    <td>{{ s.department }}</td>
                    <td>{{ s.created_at }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
